body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Luckiest Guy', Arial, sans-serif;
    color: white;
    background:
        radial-gradient(circle at top left, rgba(255, 0, 150, 0.5), transparent 20%),
        radial-gradient(circle at bottom right, rgba(255, 0, 150, 0.5), transparent 20%),
        linear-gradient(135deg, #16152a, #261454);
    background-size: cover;
    background-attachment: fixed;
}

html,
body {
    overflow-x: hidden;
}

nav {
    background-color: #3d2272;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

nav img {
    height: 50px;
    width: auto;
}

.nav-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Luckiest Guy', Arial, sans-serif;
    text-shadow: -1px -1px 0 #3d2272, 1px 1px 0 #3d2272;
}

nav ul li a.active {
    color: #5fd3c8;
}

nav ul li a:hover {
    text-decoration: underline;
}

.icon-text {
    display: flex;
    align-items: center;
}

.icon {
    width: 48px;
    height: 48px;
    margin-right: 10px;
}

.user-icon {
    height: 50px;
    width: auto;
    margin-right: 15%;
}

.header-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.header-image img {
    max-width: 80%;
    height: 70%;
}

.team-section {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
}

.image-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 250px;
}

.image-container img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    object-fit: cover;
    object-position: center;
}

.team-member-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Centers the text horizontally */
    text-align: center;
    font-family: 'League Spartan', sans-serif;
    margin-top: -30px;
    /* Adjust as needed to align text with images */
}

.team-member-name,
.abdullah-name {
    font-size: 24px;
    text-transform: uppercase;
    margin: 0;
    color: white;
}

.team-member-title,
.abdullah-title {
    font-size: 18px;
    color: #f9447f;
    margin-top: 5px;
    text-transform: uppercase;
}